:root {
  --border-color: rgb(27, 27, 27);
  --background-color: rgb(233, 231, 231);
  --accent-color: rgb(238, 126, 126);
  color: var(--border-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  margin: 0;
}

button {
  border: none;
  background-color: white;
  font-size: 3rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  display: none;
}

@media (min-width: 1000px) {
  button {
    font-size: 4.5rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
    margin: 0.5rem 0;
  }

  body {
    gap: 2rem;
  }
}

#game-grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 40vh;
  height: 40vh;
  border: 2px solid var(--border-color);
  margin: 0 auto;
  display: none;
}

.game-cell {
  border: 2px solid var(--border-color);
  display: grid;
  place-content: center;
  transition: background-color 0.4s ease;
}

.game-cell:hover,
.game-cell:focus {
  background-color: var(--background-color);
}

.ui-button {
  font-size: 20px;
  border: 4px solid var(--border-color);
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  transition: background-color 0.4s ease;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#start-again-button {
  display: none;
}

.ui-button:hover,
.ui-button:focus {
  background-color: var(--border-color);
  color: white;
}

.red {
  background-color: var(--accent-color);
}

form {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  align-items: center;
  text-align: center;
  row-gap: 2rem;
  font-size: 20px;
}

form>div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 400px) {
  form {
    width: 300px;
  }

  form>div {
    gap: 0.5rem;
  }
}

input {
  border: 4px solid var(--border-color);
  padding: 10px;
  width: 80%;
  font-size: 20px;
}

label,
p {
  font-weight: 500;
  margin: 0;
}

p#error {
  color: var(--accent-color);
  display: none;
}

input[type="radio"] {
  appearance: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-color: white;
  margin: 0;
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked {
  background-color: var(--accent-color);
}

#start-game-button,
#error {
  grid-column: 1/3;
}